require
<div class="carousel__slider">
    <ul class="row carousel__slides-list">
        <li class="col-sm-3 carousel__slide">
            <img class="carousel__image" src="assets/images/slide.jpg" alt="photo1">
        </li>
        <li class="col-sm-3 carousel__slide">
            <img class="carousel__image" src="assets/images/slide.jpg" alt="photo2">
        </li>
        <li class="col-sm-3 carousel__slide">
            <img class="carousel__image" src="assets/images/slide.jpg" alt="photo3">
        </li>
        <li class="col-sm-3 carousel__slide">
            <img class="carousel__image" src="assets/images/slide.jpg" alt="photo4">
        </li>
    </ul>
</div>