.carousel__dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(#000, 0.2);
    border: none;
    border-radius: 50%;
    transition: background-color 0.4s ease;

    &--active {
        background-color: rgba(#000, 0.5);
    }
}