@import "~bootstrap/scss/bootstrap";

.carousel {
  margin: 10px auto;
  position: relative;
  width: 40%;

  &__slider {
    margin-bottom: 5px;
	overflow: hidden;
  }

  &__controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }

  &__dots {
	display: flex;
    justify-content: center;
  }


}